body {
    font-family: monospace, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 130%;
    color: #222;
}

a, a:hover, a:active {
    color: #b40;
}

h1 a, h1 a:link, h1 a:visited {
    text-decoration: none;
    color: #222;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 4em;
}

#posts a {
    font-size: 120%;
    text-decoration: none;
}

.code {
    width: 100%; 
    overflow: auto; 
    overflow-y: hidden
}

blockquote {
    quotes: /* “\00AB” “\00BB”;*/ none;
    border-left: 10px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
}

blockquote:before { 
    content: open-quote 
}

blockquote:after { 
    content: close-quote 
}

blockquote p {
    /* display: inline;*/
}

